.tablet {

}
.bigDesktop {

}
.smallDesktop {

}
.phone {

}

@media only screen and (min-width :320px) and (max-width :767px) {
    .bigDesktop, .smallDesktop {
        display: none;
    }
}


@media only screen and (min-width :768px) and (max-width :1350px) {
    .bigDesktop, .smallDesktop, .phone {
        display: none;
    }
}




@media only screen and (min-width :1351px) and (max-width :1599px) {
    .bigDesktop, .phone, .tablet  {
        display: none;
    }
}

@media only screen and (min-width :1600px) {
    .smallDesktop, .phone, .tablet  {
        display: none;
    }
}
