


/*@media only screen and (min-width :320px) and (max-width : 330px) {
    .bigDesktop, .smallDesktop, .tablet {
        display: none;
    }
}*/


@media only screen and (min-width :0) and (max-width : 999px) {
    .bigDesktop, .smallDesktop, .tablet {
        display: none;
    }
}




@media only screen and (min-width :1000px) and (max-width : 1599px) {
    .bigDesktop, .phone, .tablet {
        display: none;
    }
}

@media only screen and (min-width :1600px) {
    .smallDesktop, .phone, .tablet {
        display: none;
    }
}
